@import '../../main';

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	background-color: $bodyBg;
	color: $grayDark;

	flex: 1 0 auto;
}

.section {
	padding: 7rem var(--gl-indent);
}

[class*="__container"] {
	position: relative;
	width: 100%;
	max-width: $pageWidth;
	margin: 0 auto;
}

